In [365]:
import psycopg2
import pandas as pd
import plotly.express as px

In [366]:
with open('dbConnection.txt', 'r') as f:
    file_output = f.read()

file_lines = file_output.split('\n')
host = file_lines[0].split('=')[-1]
database = file_lines[1].split('=')[-1]
user = file_lines[2].split('=')[-1]
password = file_lines[3].split('=')[-1]

In [367]:
# connection = psycopg2.connect(host=host, database=database, user=user, password=password)
# cursor = connection.cursor()

# sql_1_trimestre_2023 = """CREATE VIEW view_receita_1_trimestre_2023 AS SELECT fato_vendas.faturamento, fato_vendas.quantidade_vendida,
#                                         fato_vendas.imposto, fato_vendas.custo_variavel,
#                                         dim_tempo.numero_trimestre, nome_trimestre, dim_tempo.nome_do_mes, dim_tempo.data,
#                                         dim_localidade.lat_cidade, dim_localidade.long_cidade, dim_localidade.nome_cidade
#                         FROM fato_vendas
#                                 INNER JOIN dim_cliente 
#                                         ON fato_vendas.sk_cliente = dim_cliente.sk_cliente
#                                 INNER JOIN dim_localidade 
#                                         ON dim_cliente.sk_localidade = dim_localidade.sk_localidade
#                                 INNER JOIN dim_tempo 
#                                         ON fato_vendas.sk_tempo = dim_tempo.sk_tempo
#                         WHERE dim_tempo.numero_trimestre = '1' AND dim_tempo.numero_ano = '2023'"""

# cursor.execute(sql_1_trimestre_2023).fetchall()

# connection.close()

In [368]:
connection = psycopg2.connect(host=host, database=database, user=user, password=password)
cursor = connection.cursor()

sql_1_trimestre_2023 = """SELECT * FROM view_receita_1_trimestre_2023"""

cursor.execute(sql_1_trimestre_2023)

dados_1_trimestre_2023 = cursor.fetchall()

connection.close()

In [369]:
dataset_1_trimestre_2023 = pd.DataFrame(
    dados_1_trimestre_2023, 
    columns=[
        'Faturamento', 
        'Quantidade_Vendida', 
        'Imposto', 
        'Custo_Variavel', 
        'Numero_Trimestre', 
        'Nome_Trimestre', 
        'Nome_Mes',
        'Data',
        'Lat_Cidade',
        'Long_Cidade',
        'Nome_Cidade'
        ]
        )

In [370]:
dataset_1_trimestre_2023.head()

,Faturamento,Quantidade_Vendida,Imposto,Custo_Variavel,Numero_Trimestre,Nome_Trimestre,Nome_Mes,Data,Lat_Cidade,Long_Cidade,Nome_Cidade
0,220.0,4,10.0,35.0,1,Primeiro Trimestre,Janeiro,2023-01-03,-12.97180000,-38.50110000,Salvador
1,140.0,3,8.0,25.0,1,Primeiro Trimestre,Janeiro,2023-01-20,-30.03180000,-51.20650000,Porto Alegre
2,310.0,7,15.0,60.0,1,Primeiro Trimestre,Fevereiro,2023-02-06,-22.88320000,-43.10340000,Niterói
3,260.0,6,14.0,50.0,1,Primeiro Trimestre,Fevereiro,2023-02-23,-30.03180000,-51.20650000,Porto Alegre
4,110.0,2,5.0,15.0,1,Primeiro Trimestre,Março,2023-03-12,-25.41950000,-49.26460000,Curitiba

In [371]:
dataset_1_trimestre_2023.count()

Faturamento           510
Quantidade_Vendida    510
Imposto               510
Custo_Variavel        510
Numero_Trimestre      510
Nome_Trimestre        510
Nome_Mes              510
Data                  510
Lat_Cidade            510
Long_Cidade           510
Nome_Cidade           510
dtype: int64

In [372]:
# connection = psycopg2.connect(host=host, database=database, user=user, password=password)
# cursor = connection.cursor()
# sql_2_trimestre_2023 = """CREATE VIEW view_receita_2_trimestre_2023 AS SELECT fato_vendas.faturamento, fato_vendas.quantidade_vendida,
#                                         fato_vendas.imposto, fato_vendas.custo_variavel,
#                                         dim_tempo.numero_trimestre, nome_trimestre, dim_tempo.nome_do_mes, dim_tempo.data,
#                                         dim_localidade.lat_cidade, dim_localidade.long_cidade, dim_localidade.nome_cidade
#                         FROM fato_vendas
#                                 INNER JOIN dim_cliente 
#                                         ON fato_vendas.sk_cliente = dim_cliente.sk_cliente
#                                 INNER JOIN dim_localidade 
#                                         ON dim_cliente.sk_localidade = dim_localidade.sk_localidade
#                                 INNER JOIN dim_tempo 
#                                         ON fato_vendas.sk_tempo = dim_tempo.sk_tempo
#                         WHERE dim_tempo.numero_trimestre = '2' AND dim_tempo.numero_ano = '2023'"""

# cursor.execute(sql_2_trimestre_2023)

In [373]:
connection = psycopg2.connect(host=host, database=database, user=user, password=password)
cursor = connection.cursor()

sql_2_trimestre_2023 = """SELECT * FROM view_receita_2_trimestre_2023"""

cursor.execute(sql_2_trimestre_2023)

dados_2_trimestre_2023 = cursor.fetchall()

connection.close()

In [374]:
dataset_2_trimestre_2023 = pd.DataFrame(
    dados_2_trimestre_2023, 
    columns=[
        'Faturamento', 
        'Quantidade_Vendida', 
        'Imposto', 
        'Custo_Variavel', 
        'Numero_Trimestre', 
        'Nome_Trimestre', 
        'Nome_Mes',
        'Data',
        'Lat_Cidade',
        'Long_Cidade',
        'Nome_Cidade']
        )

In [375]:
dataset_2_trimestre_2023.head()

,Faturamento,Quantidade_Vendida,Imposto,Custo_Variavel,Numero_Trimestre,Nome_Trimestre,Nome_Mes,Data,Lat_Cidade,Long_Cidade,Nome_Cidade
0,120.0,3,8.0,20.0,2,Segundo Trimestre,Abril,2023-04-15,-30.03180000,-51.20650000,Porto Alegre
1,250.0,6,14.0,50.0,2,Segundo Trimestre,Abril,2023-04-02,-9.95542000,-36.79260000,Campo Grande
2,330.0,8,16.0,70.0,2,Segundo Trimestre,Maio,2023-05-19,-22.91290000,-43.20030000,Rio de Janeiro
3,100.0,4,7.0,16.0,2,Segundo Trimestre,Abril,2023-04-15,-22.91290000,-43.20030000,Rio de Janeiro
4,275.0,9,13.0,32.0,2,Segundo Trimestre,Junho,2023-06-03,-23.53290000,-46.63950000,São Paulo

In [376]:
dataset_2_trimestre_2023.count()

Faturamento           496
Quantidade_Vendida    496
Imposto               496
Custo_Variavel        496
Numero_Trimestre      496
Nome_Trimestre        496
Nome_Mes              496
Data                  496
Lat_Cidade            496
Long_Cidade           496
Nome_Cidade           496
dtype: int64

In [377]:
def variacao_percentual(trimestre_passado, trimestre_atual):
    if trimestre_atual > trimestre_passado:
        return (((trimestre_atual - trimestre_passado) / trimestre_passado) * 100, 0)
    else:
        return (((trimestre_passado - trimestre_atual) / trimestre_passado) * 100, -1)

In [378]:
variacao_percentual(10, 20)

(100.0, 0)

In [379]:
variacao_percentual(20, 10)

(50.0, -1)

In [380]:
dataset_1_semestre_2023 = pd.concat([dataset_1_trimestre_2023, dataset_2_trimestre_2023])
dataset_1_semestre_2023.head()

,Faturamento,Quantidade_Vendida,Imposto,Custo_Variavel,Numero_Trimestre,Nome_Trimestre,Nome_Mes,Data,Lat_Cidade,Long_Cidade,Nome_Cidade
0,220.0,4,10.0,35.0,1,Primeiro Trimestre,Janeiro,2023-01-03,-12.97180000,-38.50110000,Salvador
1,140.0,3,8.0,25.0,1,Primeiro Trimestre,Janeiro,2023-01-20,-30.03180000,-51.20650000,Porto Alegre
2,310.0,7,15.0,60.0,1,Primeiro Trimestre,Fevereiro,2023-02-06,-22.88320000,-43.10340000,Niterói
3,260.0,6,14.0,50.0,1,Primeiro Trimestre,Fevereiro,2023-02-23,-30.03180000,-51.20650000,Porto Alegre
4,110.0,2,5.0,15.0,1,Primeiro Trimestre,Março,2023-03-12,-25.41950000,-49.26460000,Curitiba

In [381]:
dataset_1_semestre_2023['Receita'] = dataset_1_semestre_2023['Faturamento']\
                                        - dataset_1_semestre_2023['Imposto']\
                                        - dataset_1_semestre_2023['Custo_Variavel']
dataset_1_semestre_2023.head()

,Faturamento,Quantidade_Vendida,Imposto,Custo_Variavel,Numero_Trimestre,Nome_Trimestre,Nome_Mes,Data,Lat_Cidade,Long_Cidade,Nome_Cidade,Receita
0,220.0,4,10.0,35.0,1,Primeiro Trimestre,Janeiro,2023-01-03,-12.97180000,-38.50110000,Salvador,175.0
1,140.0,3,8.0,25.0,1,Primeiro Trimestre,Janeiro,2023-01-20,-30.03180000,-51.20650000,Porto Alegre,107.0
2,310.0,7,15.0,60.0,1,Primeiro Trimestre,Fevereiro,2023-02-06,-22.88320000,-43.10340000,Niterói,235.0
3,260.0,6,14.0,50.0,1,Primeiro Trimestre,Fevereiro,2023-02-23,-30.03180000,-51.20650000,Porto Alegre,196.0
4,110.0,2,5.0,15.0,1,Primeiro Trimestre,Março,2023-03-12,-25.41950000,-49.26460000,Curitiba,90.0

In [382]:
receita_mensal_1_semestre_2023 = dataset_1_semestre_2023.groupby('Nome_Mes')[['Receita']].sum().reset_index()
receita_mensal_1_semestre_2023.head()

    Nome_Mes  Receita
0      Abril  12006.5
1  Fevereiro  16889.8
2    Janeiro  19307.0
3      Junho  14150.5
4       Maio  27314.1

In [383]:
sorter = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho']
sorterIndex = dict(zip(sorter, range(len(sorter))))

receita_mensal_1_semestre['Mes_Rank'] = receita_mensal_1_semestre['Nome_Mes'].map(sorterIndex)
receita_mensal_1_semestre.sort_values(['Mes_Rank'], ascending=[True], inplace=True)
receita_mensal_1_semestre.drop('Mes_Rank', axis=1, inplace=True)
receita_mensal_1_semestre.head()

TypeError: 'dict' object is not callable

In [384]:
fig_receita_mensal = px.bar(
                            receita_mensal_1_semestre,
                            x = 'Nome_Mes',
                            y = 'Receita',
                            range_y = (0, receita_mensal_1_semestre.max()),
                            color = 'Nome_Mes',
                            title = 'Receita Mensal',
)

In [385]:
fig_receita_mensal.show()

In [386]:
valor_medio_receitas_mensais = receita_mensal_1_semestre_2023['Receita'].sum() / receita_mensal_1_semestre_2023['Receita'].count()
valor_medio_receitas_mensais

17729.13333333333

In [387]:
receita_estados = dataset_1_semestre_2023.groupby('Nome_Cidade')[['Receita']].sum()
receita_estados = dataset_1_semestre_2023.drop_duplicates(subset='Nome_Cidade')\
                                    [['Nome_Cidade', 'Lat_Cidade', 'Long_Cidade']]\
                                    .merge(receita_estados, left_on='Nome_Cidade', right_index=True)\
                                    .sort_values('Receita', ascending=False)

In [388]:
receita_estados.head()

     Nome_Cidade    Lat_Cidade   Long_Cidade   Receita
5   Campo Grande   -9.95542000  -36.79260000  17240.35
11      Brasília  -15.77950000  -47.92970000  12577.55
1   Porto Alegre  -30.03180000  -51.20650000  11666.60
16      Campinas  -22.90530000  -47.06590000  11319.95
4       Curitiba  -25.41950000  -49.26460000  11086.55

In [389]:
receita_total = receita_estados['Receita'].sum()
receita_total

106374.8

In [390]:
receita_estados['Percentual'] = receita_estados['Receita'] / receita_total * 100

In [391]:
receita_estados.head()

     Nome_Cidade    Lat_Cidade   Long_Cidade   Receita  Percentual
5   Campo Grande   -9.95542000  -36.79260000  17240.35   16.207175
11      Brasília  -15.77950000  -47.92970000  12577.55   11.823806
1   Porto Alegre  -30.03180000  -51.20650000  11666.60   10.967447
16      Campinas  -22.90530000  -47.06590000  11319.95   10.641571
4       Curitiba  -25.41950000  -49.26460000  11086.55   10.422158

In [392]:
percentual_df.sum()

99.99999999999999

In [393]:
def func(a, b):
    return (a,b)

In [394]:
tuple_estados = list(map(func, receita_estados['Nome_Cidade'], receita_estados['Percentual']))

In [395]:
tuple_estados

[('Campo Grande', 16.207175007614584),
 ('Brasília', 11.82380601420637),
 ('Porto Alegre', 10.967447177338995),
 ('Campinas', 10.641571123988012),
 ('Curitiba', 10.422158255526684),
 ('São Paulo', 8.919969767275708),
 ('Belo Horizonte', 8.363399978190323),
 ('Rio de Janeiro', 8.155691009524812),
 ('Salvador', 5.541961065966752),
 ('Niterói', 3.631217167975874),
 ('Santos', 3.0294769061845472),
 ('Goiânia', 2.2961265262073347)]

In [396]:
for estado in tuple_estados:
    nome, percentual = estado
    print(nome, percentual)

Campo Grande 16.207175007614584
Brasília 11.82380601420637
Porto Alegre 10.967447177338995
Campinas 10.641571123988012
Curitiba 10.422158255526684
São Paulo 8.919969767275708
Belo Horizonte 8.363399978190323
Rio de Janeiro 8.155691009524812
Salvador 5.541961065966752
Niterói 3.631217167975874
Santos 3.0294769061845472
Goiânia 2.2961265262073347

In [397]:
# connection = psycopg2.connect(host=host, database=database, user=user, password=password)
# cursor = connection.cursor()

# sql_vendas_1_trimestre = """CREATE VIEW view_vendas_1_trimestre_2023 AS SELECT fato_vendas.quantidade_vendida,
#                                         fato_vendas.faturamento, dim_tempo.numero_trimestre, dim_tempo.nome_do_mes,
#                                         dim_localidade.lat_cidade, dim_localidade.long_cidade, dim_localidade.nome_cidade,
#                                         dim_produto.cod_marca, dim_produto.cod_categoria, dim_produto.desc_produto, dim_regiao.nome_regiao
#                             FROM fato_vendas
#                                     INNER JOIN dim_cliente 
#                                             ON fato_vendas.sk_cliente = dim_cliente.sk_cliente
#                                     INNER JOIN dim_localidade 
#                                             ON dim_cliente.sk_localidade = dim_localidade.sk_localidade
#                                     INNER JOIN dim_tempo 
#                                             ON fato_vendas.sk_tempo = dim_tempo.sk_tempo
#                                     INNER JOIN dim_produto
#                                             ON fato_vendas.sk_produto = dim_produto.sk_produto
#                                     INNER JOIN dim_estado
#                                             ON dim_localidade.sk_estado = dim_estado.sk_estado
#                                     INNER JOIN dim_regiao
#                                             ON dim_estado.sk_regiao = dim_regiao.sk_regiao
#                             WHERE dim_tempo.numero_trimestre = '1' AND dim_tempo.numero_ano = '2023'"""

# cursor.execute(sql_vendas_1_trimestre).fetchall()

# connection.close()

In [398]:
# connection = psycopg2.connect(host=host, database=database, user=user, password=password)
# cursor = connection.cursor()

# sql_vendas_2_trimestre = """CREATE VIEW view_vendas_2_trimestre_2023 AS SELECT fato_vendas.quantidade_vendida,
#                                         fato_vendas.faturamento, dim_tempo.numero_trimestre, dim_tempo.nome_do_mes,
#                                         dim_localidade.lat_cidade, dim_localidade.long_cidade, dim_localidade.nome_cidade,
#                                         dim_produto.cod_marca, dim_produto.cod_categoria, dim_produto.desc_produto, dim_regiao.nome_regiao
#                             FROM fato_vendas
#                                     INNER JOIN dim_cliente 
#                                             ON fato_vendas.sk_cliente = dim_cliente.sk_cliente
#                                     INNER JOIN dim_localidade 
#                                             ON dim_cliente.sk_localidade = dim_localidade.sk_localidade
#                                     INNER JOIN dim_tempo 
#                                             ON fato_vendas.sk_tempo = dim_tempo.sk_tempo
                                    # INNER JOIN dim_produto
                                    #         ON fato_vendas.sk_produto = dim_produto.sk_produto
                                    # INNER JOIN dim_estado
                                    #         ON dim_localidade.sk_estado = dim_estado.sk_estado
                                    # INNER JOIN dim_regiao
                                    #         ON dim_estado.sk_regiao = dim_regiao.sk_regiao
#                             WHERE dim_tempo.numero_trimestre = '2' AND dim_tempo.numero_ano = '2023'"""

# cursor.execute(sql_vendas_2_trimestre).fetchall()

# connection.close()

In [399]:
connection = psycopg2.connect(host=host, database=database, user=user, password=password)
cursor = connection.cursor()

sql_1_trimestre_2023 = """SELECT * FROM view_vendas_1_trimestre_2023"""

cursor.execute(sql_1_trimestre_2023)

dados_vendas_1_trimestre_2023 = cursor.fetchall()

connection.close()

In [400]:
connection = psycopg2.connect(host=host, database=database, user=user, password=password)
cursor = connection.cursor()

sql_2_trimestre_2023 = """SELECT * FROM view_vendas_2_trimestre_2023"""

cursor.execute(sql_2_trimestre_2023)

dados_vendas_2_trimestre_2023 = cursor.fetchall()

connection.close()

In [401]:
columns = ['Quantidade_Vendida', 'Faturamento', 'Numero_Trimestre', 
            'Nome_Mes', 'Latitude', 'Longitude',
            'Nome_Cidade', 'Marca', 'Categoria', 'Desc_Prod', 'Nome_Regiao'
            ]

In [402]:
dataset_vendas_1_trimestre_2023 = pd.DataFrame(dados_vendas_1_trimestre_2023, columns=columns)
dataset_vendas_1_trimestre_2023.head()

,Quantidade_Vendida,Faturamento,Numero_Trimestre,Nome_Mes,Latitude,Longitude,Nome_Cidade,Marca,Categoria,Desc_Prod,Nome_Regiao
0,8,200.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Oster,Eletrodomésticos,Máquina de Café Expresso PrimaLatte II,Centro-Oeste
1,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Sony,TVs e Áudio,Soundbar HT,Centro-Oeste
2,2,50.5,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Headphone Bluetooth T450BT,Centro-Oeste
3,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Irobot,Eletrodomésticos,Aspirador de Pó Robô Roomba 675,Centro-Oeste
4,5,120.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Caixa de Som Charge 4,Centro-Oeste

In [403]:
dataset_vendas_2_trimestre_2023 = pd.DataFrame(dados_vendas_2_trimestre_2023, columns=columns)
dataset_vendas_2_trimestre_2023.head()

,Quantidade_Vendida,Faturamento,Numero_Trimestre,Nome_Mes,Latitude,Longitude,Nome_Cidade,Marca,Categoria,Desc_Prod,Nome_Regiao
0,3,90.50,2,Abril,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Headphone Bluetooth T450BT,Centro-Oeste
1,3,90.50,2,Maio,-15.77950000,-47.92970000,Brasília,Epson,Informática,Impressora Multifuncional L3150,Centro-Oeste
2,4,70.75,2,Abril,-15.77950000,-47.92970000,Brasília,Amazon,Smart Home,Alexa Echo Studio,Centro-Oeste
3,8,200.00,2,Junho,-15.77950000,-47.92970000,Brasília,Amazon,Smart Home,Alexa Echo Show 5,Centro-Oeste
4,4,100.50,2,Maio,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Caixa de Som Portátil Flip 5,Centro-Oeste

In [404]:
dataset_vendas_1_trimestre_2023['Quantidade_Vendida'].sum()

2152

In [405]:
dataset_vendas_2_trimestre_2023['Quantidade_Vendida'].sum()

2297

In [406]:
dataset_vendas_1_trimestre_2023['Faturamento'].mean()

135.66313725490198

In [407]:
dataset_vendas_2_trimestre_2023['Faturamento'].mean()

138.02903225806452

In [408]:
dataset_vendas_1_semestre_2023 = pd.concat([dataset_vendas_1_trimestre_2023, dataset_vendas_2_trimestre_2023])
dataset_vendas_1_semestre_2023.head()

,Quantidade_Vendida,Faturamento,Numero_Trimestre,Nome_Mes,Latitude,Longitude,Nome_Cidade,Marca,Categoria,Desc_Prod,Nome_Regiao
0,8,200.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Oster,Eletrodomésticos,Máquina de Café Expresso PrimaLatte II,Centro-Oeste
1,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Sony,TVs e Áudio,Soundbar HT,Centro-Oeste
2,2,50.5,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Headphone Bluetooth T450BT,Centro-Oeste
3,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Irobot,Eletrodomésticos,Aspirador de Pó Robô Roomba 675,Centro-Oeste
4,5,120.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Caixa de Som Charge 4,Centro-Oeste

In [409]:
faturamento_categoria = dataset_vendas_1_semestre_2023.groupby('Categoria')[['Faturamento']]\
                            .sum().reset_index().sort_values('Faturamento', ascending=False)
faturamento_categoria.head()

          Categoria  Faturamento
0  Eletrodomésticos     60639.75
4        Smart Home     25910.30
5       TVs e Áudio     23264.55
2       Informática     12241.85
6             Áudio      9540.00

In [410]:
qtd_vendida_categoria = dataset_vendas_1_semestre_2023.groupby('Categoria')[['Quantidade_Vendida']]\
                            .sum().reset_index().sort_values('Quantidade_Vendida', ascending=False)
qtd_vendida_categoria.head()

          Categoria  Quantidade_Vendida
0  Eletrodomésticos                1955
4        Smart Home                 835
5       TVs e Áudio                 766
2       Informática                 410
6             Áudio                 300

In [411]:
dataset_vendas_1_semestre_2023.head()

,Quantidade_Vendida,Faturamento,Numero_Trimestre,Nome_Mes,Latitude,Longitude,Nome_Cidade,Marca,Categoria,Desc_Prod,Nome_Regiao
0,8,200.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Oster,Eletrodomésticos,Máquina de Café Expresso PrimaLatte II,Centro-Oeste
1,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Sony,TVs e Áudio,Soundbar HT,Centro-Oeste
2,2,50.5,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Headphone Bluetooth T450BT,Centro-Oeste
3,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Irobot,Eletrodomésticos,Aspirador de Pó Robô Roomba 675,Centro-Oeste
4,5,120.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Caixa de Som Charge 4,Centro-Oeste

In [412]:
qtd_vendida_cidades = dataset_vendas_1_semestre_2023.groupby('Nome_Cidade')[['Quantidade_Vendida']].sum()
qtd_vendida_cidades = dataset_vendas_1_semestre_2023.drop_duplicates(subset='Nome_Cidade')\
                                    [['Nome_Cidade', 'Latitude', 'Longitude']]\
                                    .merge(qtd_vendida_cidades, left_on='Nome_Cidade', right_index=True)\
                                    .sort_values('Quantidade_Vendida', ascending=False)
qtd_vendida_cidades.head()

      Nome_Cidade      Latitude     Longitude  Quantidade_Vendida
142  Campo Grande   -9.95542000  -36.79260000                 759
0        Brasília  -15.77950000  -47.92970000                 564
373  Porto Alegre  -30.03180000  -51.20650000                 489
283      Curitiba  -25.41950000  -49.26460000                 480
88       Campinas  -22.90530000  -47.06590000                 468

In [413]:
top5_produtos_vendidos = dataset_vendas_1_semestre_2023.groupby('Desc_Prod')[['Quantidade_Vendida']].sum()
top5_produtos_vendidos = dataset_vendas_1_semestre_2023.drop_duplicates(subset='Desc_Prod')\
                                    [['Desc_Prod', 'Marca', 'Categoria']]\
                                    .merge(top5_produtos_vendidos, left_on='Desc_Prod', right_index=True)\
                                    .sort_values('Quantidade_Vendida', ascending=False)

In [414]:
top5_produtos_vendidos = top5_produtos_vendidos.head()

In [415]:
top5_produtos_vendidos

,Desc_Prod,Marca,Categoria,Quantidade_Vendida
1,Soundbar HT,Sony,TVs e Áudio,219
261,Cafeteira Dolce Gusto Mini Me,Nescafé,Eletrodomésticos,194
25,Alexa Echo Show 5,Amazon,Smart Home,194
8,Geladeira Frost Free 380L,Brastemp,Eletrodomésticos,187
11,Churrasqueira Elétrica,Britânia,Eletrodomésticos,178

In [416]:
def func(a, b, c, d):
    return (a,b,c,d)

In [417]:
top5_produtos_vendidos = list(map(lambda a, b, c, d: (a,b,c,d), top5_produtos_vendidos['Desc_Prod'], top5_produtos_vendidos['Marca'], top5_produtos_vendidos['Categoria'], top5_produtos_vendidos['Quantidade_Vendida']))

In [418]:
for produto in top5_produtos_vendidos:
    # print(produto)
    nome, marca, categoria, qtd_vendida = produto
    print(nome, marca, categoria, qtd_vendida)

Soundbar HT Sony TVs e Áudio 219
Cafeteira Dolce Gusto Mini Me Nescafé Eletrodomésticos 194
Alexa Echo Show 5 Amazon Smart Home 194
Geladeira Frost Free 380L Brastemp Eletrodomésticos 187
Churrasqueira Elétrica Britânia Eletrodomésticos 178

In [419]:
dataset_vendas_1_semestre_2023.head()

,Quantidade_Vendida,Faturamento,Numero_Trimestre,Nome_Mes,Latitude,Longitude,Nome_Cidade,Marca,Categoria,Desc_Prod,Nome_Regiao
0,8,200.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Oster,Eletrodomésticos,Máquina de Café Expresso PrimaLatte II,Centro-Oeste
1,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Sony,TVs e Áudio,Soundbar HT,Centro-Oeste
2,2,50.5,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Headphone Bluetooth T450BT,Centro-Oeste
3,10,250.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,Irobot,Eletrodomésticos,Aspirador de Pó Robô Roomba 675,Centro-Oeste
4,5,120.0,1,Janeiro,-15.77950000,-47.92970000,Brasília,JBL,Áudio,Caixa de Som Charge 4,Centro-Oeste

In [423]:
qtd_vendida_regiao = dataset_vendas_1_semestre_2023.groupby('Nome_Regiao')[['Quantidade_Vendida']].sum()
qtd_vendida_regiao = dataset_vendas_1_semestre_2023.drop_duplicates(subset='Nome_Regiao')\
                                    [['Nome_Regiao']]\
                                    .merge(qtd_vendida_regiao, left_on='Nome_Regiao', right_index=True)\
                                    .sort_values('Quantidade_Vendida', ascending=False)
qtd_max = qtd_vendida_regiao['Quantidade_Vendida'].sum()
qtd_vendida_regiao['Percentual'] = qtd_vendida_regiao['Quantidade_Vendida'] / qtd_max * 100


vendas_regiao = list(map(lambda x,y,z: (x,y,z), qtd_vendida_regiao['Nome_Regiao'], qtd_vendida_regiao['Quantidade_Vendida'], qtd_vendida_regiao['Percentual']))
vendas_regiao

[('Sudeste', 1819, 40.885592267925375),
 ('Centro-Oeste', 1395, 31.35536075522589),
 ('Sul', 969, 21.780175320296696),
 ('Nordeste', 266, 5.978871656552035)]